.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    background-color: transparent;
    z-index: 10;

    .header-left, .header-center, .header-right {
      display: flex;
      gap: 15px;
      align-items: center;
    }

    .header-center {
      background-color: rgba(60, 60, 60, 0.2);
      width: 25%;
      justify-content: center;
      border-radius: 40px;
      padding: 10px;

      span {
        font-size: 18px;
        padding: 8px;
        border-radius: 30px;

        &:hover {
          background-color: orangered;
        }
      }
    }

    .site-name {
      display: flex;
      font-size: 18px;
      color: orangered;
      margin-left: 150px;
      background-color: rgba(60, 60, 60, .4);
      padding: 9px 30px;
      border-radius: 50px;

      .logo {
        width: 20px;
        height: 20px;
        margin-top: 3px;
        margin-right: 10px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
      }
    }

    .see-more {
      background-color: white;
      margin-right: 150px;
      color: black;
      padding: 8px 16px;
      border: none;
      border-radius: 20px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: orangered;
      }
    }

    /* Extra Small Devices (phones, 0px - 575px) */
    @media (max-width: 575px) {



      .site-name {
        font-size: 14px;
        width: 80px;
        margin-left: 100px;
        padding: 8px 15px;
        .logo {
          width: 14px;
          height: 14px;
        }
      }

      .header-center {
        display: none;
      }

      .see-more {
        margin-left: 150px;
        width: 80px;
        font-size: 12px;
        padding: 6px;
      }
    }

    /* Small Devices (large phones, 576px - 767px) */
    @media (min-width: 576px) and (max-width: 767px) {



      .site-name {
        font-size: 16px;
        padding: 8px  ;
        width: 80px;
        margin-left: 50px;
      }

      .header-center {
        margin-left: 50px;
        width: 40%;
        margin-right: 50px;
        span {
          font-size: 16px;
        }
      }

      .see-more {
        font-size: 16px;
        width: 100px;
        padding: 6px;
      }
    }

    /* Medium Devices (tablets, 768px - 991px) */
    @media (min-width: 768px) and (max-width: 991px) {
      padding: 10px 15px;

      .site-name {
        margin-left: 30px;
        color: red;
      }

      .header-center {
        width: 35%;
        span {
          font-size: 16px;
        }
      }

      .see-more {
        margin-right: 50px;
        font-size: 16px;
      }
    }

    /* Large Devices (desktops, 992px - 1199px) */
    @media (min-width: 992px) and (max-width: 1199px) {
      padding: 10px 20px;

      .site-name {
        margin-left: 50px;
      }

      .header-center {
        width: 35%;
      }

      .see-more {
        margin-right: 100px;
        font-size: 17px;
      }
    }

    /* Extra Large Devices (large desktops, 1200px and up) */
    @media (min-width: 1200px) {
      padding: 10px 20px;

      .header-left {
        margin-left: 0px;
      }

      .header-center {
        width: 25%;
      }

      .see-more {
        margin-right: 150px;
        font-size: 18px;
      }
    }
  }
